gradio
pandas
openpyxl
python-docx
pdfplumber
groq
langchain-text-splitters
langchain-community
langchain-chroma
duckduckgo-search
gradio-client
huggingface-hub
sentence-transformers
edge-tts
